
h1 {
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 45px;
  }
  
  h3{
    color: rgb(241, 229, 229);
    font-weight: bolder;
    font-size: 55px;

  }

img {
  max-height: 280px;
  width: auto;
}

#timlft{
  height: 187px;
  width: 187px;
  margin-right: 5.5px;
  margin-left: 5.5px;
  margin-bottom: 5.5px;
  margin-top: 5.5px;

}


#ansblk {
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
  color: rgb(241, 229, 229);

}

h2{
  font-weight: bolder;
  font-size: 50px;
  color: rgb(241, 229, 229);

}
#quesblk {
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  color: rgb(241, 229, 229);
  padding: 10px;
  margin: 30px;
}
h4{
  font-weight: bolder;
  font-size: 50px;;
}
p {
  margin: 10px;
  font-weight: bold;
  color: rgb(241, 229, 229);
  font-size: 50px;
}
  
#reset {
  visibility: visible;
  font-size: 50px;
  color: blue;
}

body {
  background-image: url("/assets/images/grass.jpeg");
  font-family: 'Times New Roman', Times, serif;
}


.setting {
  margin: 10px auto;
  background-color:black;
  border: 2px solid black;
  height: 500px;
  width: 60%;
  text-align: center;
}

.btn {
  position: center;
  bottom: -130px;
  color: blue;
  font-size: 40px;
  visibility: visible;

}

.answerchoice {
	border: 1px solid black;
	width: 40%;
  color: black;
  font-size: 40px;
  text-align: center;
  margin: 10px auto;
  font-size: 50px;
  border-radius: 10%;
  font-weight: bold
}